//Footer样式,固定位置
html{
  position: relative;
  min-height: 100%;

}
body{
  //container 会包边到padding,留出外边距给footer
  margin-bottom: 70px;
}
footer{
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  height: 70px;


}
